.container {
    margin: auto;
    padding: 0 15px;
    max-width: 1200px;
}

.header {
    width: 100%;
    aspect-ratio: 15;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    aspect-ratio: 12;
}

.nav__menu {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    gap: 5%;
    font-size: 1rem;
}

.nav__menu_item {
}

.nav__menu_item a {
    color: black;
}

.nav__menu_item a:hover {
    border-bottom: 1px solid rgba(128, 125, 125, 0.308);
    transition: 0.3s;
    color: rgba(0, 0, 0, 0.337);
}
.nav__menu_icons {
    display: flex;
    width: 30%;
    gap: 5%;
}
.nav__menu_icons-link:hover {
    border: 1px solid rgba(128, 125, 125, 0.684);
    border-radius: 50%;
    transform: scale(2);
    transition: 0.5s;
}

.nav__menu_icons-link {
    width: 7%;
}

.block__lets {
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(128, 125, 125, 0.308);

}

.block__lets_info {
    width: 50%;
    aspect-ratio: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(128, 125, 125, 0.308);
    animation: toright 2s 1 ease-in-out;
}

.block__lets_info-container {
    width: 70%;
    display: flex;
    flex-direction: column;
}


.block__lets_info-title {
    font-size: 2rem;
}

.block_lets_info-button {
    padding: 2% 7%;
    border-radius: 5px;
    border: none;
    border: 2px solid rgba(128, 125, 125, 0.308);
}

.block__lets_image {
    width: 60%;
    aspect-ratio: 10;
    animation: toleft 2s 1 ease-in-out;
}
    @keyframes toleft {
        from {
            position: relative;
            left:50%
        }
        to {
            position: relative;
            left:0;
        }
    }
    @keyframes toright {
        from {
            position: relative;
            right:50%;
        }
        to {
            position: relative;
            right:0;
        }
    }

.block__story {
    width: 100%;
    display: flex;
    justify-content: space-between;
    aspect-ratio: 3.5;
    border-top: 1px solid rgba(128, 125, 125, 0.308);
}

.block__story_image {
    width: 30%;
}

.block__story_image img {
    width: 100%;
    height: 100%;
}

.block__story_info {
    display: flex;
    justify-content: center;
    width: 70%;
}

.block__story_info-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block__story_info-title {
    font-size: 1.5rem;
    line-height:0;
}
.block__story_info-button {
    padding: 1.2% 3%;
    border-radius: 5px;
    border: none;
    border: 2px solid rgba(128, 125, 125, 0.308);
}



.block__twostory {
    width: 100%;
    display: flex;
    justify-content: space-between;
    aspect-ratio: 3.5;
    border-bottom: 1px solid rgba(128, 125, 125, 0.308);
    border-top: 1px solid rgba(128, 125, 125, 0.308);
}

.block__twostory_image {
    width: 30%;
}

.block__twostory_image img {
    width: 100%;
    height: 100%;
}

.block__twostory_info {
    display: flex;
    justify-content: center;
    width: 70%;
}

.block__twostory_info-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block__twostory_info-title {
    font-size: 1.5rem;
}

.block__twostory_info {
    width: 70%;
}

.block__twostory_info-button {
    padding: 1.2% 3%;
    border-radius: 5px;
    border: none;
    border: 2px solid rgba(128, 125, 125, 0.308);
}

.block__gallery {
    width: 100%;
    aspect-ratio: 10;
}

.block__gallery_title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.block__gallery_img {
    width: 100%;
}

.block__gallery_img img {
    width: 100%;
    aspect-ratio: 5;
}
.block__features_title {
    aspect-ratio: 12;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.block__features_container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block__features_item {
    width: 33%;
    aspect-ratio: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__features_item:nth-child(1) {
    border-bottom: 2px solid rgba(128, 125, 125, 0.308);
}
.block__features_item:nth-child(2) {
    border-right: 2px solid rgba(128, 125, 125, 0.308);
    border-bottom: 2px solid rgba(128, 125, 125, 0.308);
    border-left: 2px solid rgba(128, 125, 125, 0.308);
}
.block__features_item:nth-child(3) {
    border-bottom: 2px solid rgba(128, 125, 125, 0.308);
}
.block__features_item:nth-child(5) {
    border-right: 2px solid rgba(128, 125, 125, 0.308);
    border-left: 2px solid rgba(128, 125, 125, 0.308);
}
.block__features_item-info {
    width: 100%;
    aspect-ratio: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}
.block__features_item-list {
    width: 89%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.block__form_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    aspect-ratio: 1.8;

}
.block__form_title {
    width: 100%;
    aspect-ratio: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.block__form {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.1rem;
}
.block__form_text {
    width: 100%;
    display: flex;
    gap:3%;
    aspect-ratio: 15;
}
.block__form_text label{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-around;
}
.block__form_text input {
    border: none;
    border: 1px solid rgba(128, 125, 125, 0.308);
}
.block__form_radio { 
    width: 100%;
    display:flex;
    gap: 1%;
    align-items: center;
    aspect-ratio: 20;
}
.block__form_select {
    display: flex;
    flex-direction: column;
    aspect-ratio: 15;
    width: 81.2%;
    justify-content: space-around;
}
.block__form_select select {
    border: none;
    border: 1px solid rgba(128, 125, 125, 0.308);
}
.block__form_textarea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 81%;
    aspect-ratio: 5;
}
.block__form_textarea textarea {
    width: 100%;
    aspect-ratio: 7;
    border: none;
    border: 1px solid rgba(128, 125, 125, 0.308);
}
.block__form_submit {
    display: flex;
    justify-content: space-between;
    width: 81.7%;
    aspect-ratio: 15;
    align-items: center;
}
.block__form_submit input:nth-child(2) {
    padding: 1% 3%;
    border-radius: 5px;
    border: none;
    border: 2px solid rgba(128, 125, 125, 0.308);
}
.footer {
    width: 100%;
    aspect-ratio: 10;
    border-top:1px solid rgba(128, 125, 125, 0.308);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fotter__menu {
    display: flex;
    width: 100%;
    gap: 2%;
    align-items: center;
    justify-content: center;
    aspect-ratio: 15;
}
.Footer__menu_icons {
    width: 3%;
    border: 2px solid rgba(128, 125, 125, 0.684);
    border-radius: 50%;
}
.footer__untitled {
    display: flex;
    justify-content: center;
}
.block__form_submit input:nth-child(2):hover, button:hover {
    background-color: rgba(128, 125, 125, 0.171);
    transition: 0.5s;

}
.Footer__menu_icons:hover {
    transform: scale(2);
    transition: 0.5s;
}

@media (max-width:850px) {
    .nav__menu_icons {
        display: none;
    }
    .nav__menu {
        width: 100%;
    }
    p {
        font-size: 0.8rem;
    }
    .block__lets_info-title {
        font-size: 1.5rem;
    }
    .block__lets_image img {
        aspect-ratio: 0.8;
    }
    .block__story, .block__twostory {
        aspect-ratio: 1.8;
    }
    .block__story_image {
        width: 46%;
        
    }
    .block__twostory_image {
        width: 84%;
    }
    .block__story_image img {
    }
    .block__story_info {
        width: 55%;
    }
    .block__features_item {
        width: 50%;
        aspect-ratio: 1;
    }
    .block__features_item:nth-child(1) {
        border-bottom: 2px solid rgba(128, 125, 125, 0.308);
    }
    .block__features_item:nth-child(2) {
        border-bottom: 2px solid rgba(128, 125, 125, 0.308);
        border-right: none;
    }
    .block__features_item:nth-child(3) {
        border-bottom: 2px solid rgba(128, 125, 125, 0.308);
        border-right: 2px solid rgba(128, 125, 125, 0.308);
    }
    .block__features_item:nth-child(4) {
        border-bottom: 2px solid rgba(128, 125, 125, 0.308);
    }
    .block__features_item:nth-child(5) {
        border-left: none;
    }
    label {
        font-size: 0.9rem;
    }
    .block__form_container {
        aspect-ratio: 1.6;
    }
    .Footer__menu_icons {
        width: 6%;
    }
    }
    @media (max-width:600px) {
        .nav__menu_item {
            display: none;
        }
        .nav__menu_item strong {
            display: block;
        }  
        .block__lets {
            display: flex;
            flex-direction: column-reverse;
        }   
        .block__lets_info {
        width: 100%;
        aspect-ratio: 1;
        }
        .block__lets_image {
            width: 100%;
        }
        .block__story {
            display: flex;
            flex-direction: column;
        }
        .block__story_image {
            width: 100%;
        }
        .block__story_info {
            width: 100%;
            aspect-ratio: 1;
            text-align: justify;
        }

        .block__twostory {
            display: flex;
            flex-direction: column-reverse;
        }
        .block__twostory_image {
            width: 100%;
        }
        .block__twostory_info {
            width: 100%;
            aspect-ratio: 1;
            text-align: justify;
        }
        .block__features_item {
            width: 100%;
        }
        .block__features_item:nth-child(2) {
            border-left: none;
        }
        .block__features_item:nth-child(3) {
            border-right: none;
        }
        .block__features_item:nth-child(5) {
            border-right: none;
            border-bottom: 2px solid rgba(128, 125, 125, 0.308);
        }
        .block__features_item:nth-child(6) {
            border-bottom: 2px solid rgba(128, 125, 125, 0.308);
        }
        .block__form_container {
            aspect-ratio: 0.7;
        }
        .block__form_title {
            ;
        }
        .block__form_text {
            display: flex;
            flex-direction: column;
        }
        .block__form_text label {
            width: 80%;
            margin: 2%;
        }
        .block__form_radio {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .block__form_radio {
            margin: 2%;
        }
        .block__form_radio strong {
            margin 3%;
        }
        .block__form_select {
            margin: 2%;
        }
        .block__form_select {
            margin: 2%;
        }
        .block__form_textarea  textarea {
            margin: 2%;
            width: 100%;
            aspect-ratio: 3;
        }
        .fotter__menu {
            width: 100%;
        }
        .Footer__menu_icons {
        width: 10%;
        }
}
